.todoContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upperBox {
    display: flex;
    flex-wrap: wrap;
}

.inpBox {
    border: 2px solid black;
}

@media only screen and (max-width: 600px) {
    .addMargin {
        margin: 4px;
        height: 1.9em;
    }

    .addToList {
        margin: 4px;
        height: 1.9em;
    }
}